div .footer {
  min-height: calc(100vh - 40px);
}
.left .item .logoTop {
  font-size: 2em;
}
.logoFooter {
  color: #fff;
  margin-left: 30px;
  font-size: 1.5em;
  margin-top: 0;
  padding-top: 0;
}
a.left.item.logoFooter {
  color: white;
}
