div .footer {
  z-index: 100;
  /* display: block; */
  display: none;
  position: absolute;
  height: 40px;
  width: 100%;
  margin-top: -40px;
  padding: 0 0 20px 20px;
  background-color: #5B6D7F;
  color: #CFE7FF;
  font-size: 16px;
  /* border: 2px solid red; */
}