.FlatFullDescription {
  width: auto;
  font-size: 14px;
}

.FlatFullDescription-photos {
  display: flex;
  align-items: center;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.FlatFullDescription-photos img {
  margin: 0 5px;
}

.WrapData {
  max-width: 1000px;
  margin: 15px 15px 0;
  padding-left: 30px;
  overflow: hidden;
}

.FlatFullDescription .Description {
  font-size: 20px;
}

.FlatFullDescription a {
  text-overflow: clip;
  float: left;
  margin-top: 10px;
}
