*{
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-focus-ring-color: rgba(0, 0, 0, 0);
  outline: none !important;
}

.App {
  /* z-index: 10; */
  text-align: center;
  min-height: 100vh;
  max-width: 1000px;
  margin: -40px auto 0;
  padding: 55px 0 0 0;
  position: relative;
  overflow: hidden;
  /* font-size: 0; */
}

#indent {
  padding-bottom: 40px
}



/*
.App p {
  font-size: 16px;
} */

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
} */

/* .App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
} */

/* .App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
} */

/* @keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
